html{
    font-family: 'Montserrat';
}
:root {
    /* esto es para poner variables de colores */
    --colorVerde: #74C69D;
    --colorNaranja:#E87229;
    --colorGris: #3E4554;
    --colorCrema:#FFF4EF;
  }
body{
    margin: 0;
    background-color: white;
}

/*Inicio*/
header a:hover{
    transition: text-decoration 0.3s ease;
    text-decoration: none;
    color:   rgb(25, 98, 107);
    font-weight: bolder;
}
header a{
    font-size: 20PX;
    float: right;
    margin-right: 25PX;
    cursor: pointer;
    color:var(--colorGris);

}

header#titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.botonTexto{
    text-decoration: none;
    margin-top: 0.5rem;
    font-size: 1rem;
} 
.botontexto inicio{
    border-left: 1rem var(--colorGris);
}

header{
    background-color:white;
    color: white;
    padding: 5%;
    cursor: default;
}

header h1{
    display: inline;
    color: rgb(25, 98, 107);
    font-size: 2rem;
    margin-left: 2rem;;
}

header img{
    max-width: 15%; 
    height: auto; 
    display: block; 
    margin-right: auto;
}

/*Menu de Opciones*/
.menuHorizontal .btn{
    flex: 1;
    border: none;
    height: 3rem;
    background-color: var(--colorVerde);
    
    cursor: pointer;
}

.btn:hover{

    transition: background-color 0.5s ease;
    background-color: #ecb08a;

}

.menu .tabs .active{
    background-color: rgba(15, 57, 63, 0.452);
}
.menuHorizontal .tabs .active{
    background-color: #E87229;
}

.tabs{
    display: flex;
    justify-content: space-around;
}


.barraArriba{
    margin-top: 1rem;
    padding-top:5rem;
	text-align: center;
	font-weight: 500;

} 

.barraBusqueda{
    margin: 0 auto;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 1.5rem;
    border: 1px solid var(--colorGris);
}

.menu{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:30px ;
    margin-left: 30px;
    position: fixed;
    width: 100px;
    height:400px ;
    float: right;
    /* border: 5px solid rgb(42, 166, 182,0.5); */
    border-radius: 70px;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgba(0, 0, 0, 0.664);
    
}

.menuHorizontal{
    margin: 0;
    padding: 0;
    width: 100%;
    height:3rem ;
    float: right;
    /* border: 5px solid rgb(42, 166, 182,0.5); */
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgba(0, 0, 0, 0.664);
    
}
/*Publicaciones*/
.container article p{
    text-align: justify;
}

.container{
    width: 400px;
    margin: 0 auto;
}

.container article{
    background-color: #fff;
    margin-top: 50px;
    border-radius: 0.5rem;
    padding: 0.3rem 0;
    cursor: pointer;
}

.container article:hover {
    transition:box-shadow 0.3s ease;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgba(0, 0, 0, 0.664);
}

.container article h2, section article p{
    margin: 2rem;
}

.content{
    display: none;
}

.content.active{
    display: block;    
}

.content .busqueda{
    background: none;
    box-shadow: none;
    transition: none;
}

.container2{
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    border: 15px solid white;
    border-radius: 12px;
    padding: 20px;


}
.container2 article{
    background: none;
    border-radius: 0.5rem;
    padding: 0.3rem 0;
    cursor: default;
}

.home{
    margin: 0 auto;
    width: 600PX;
}

.barraArriba.container2{
    position: relative;
}
#indiqueCiudad{
    padding: 10PX;
    font-size: 18px;
    width: 500PX;
    border-radius: 12PX;
    outline: none;
    border: solid 2PX var(--colorVerde);
    margin: 20px auto;
}

.textFieldHolder{
    position: relative;
}

.textFieldHolder label {
    position: absolute;
    top: 18%;
    left: 70px;
    transform:translateY(-50%);
    color:transparent;
    font-size: 17px;
    font-weight: 600;
    pointer-events: none;
    transition:.3s ;
}
#indiqueCiudad input:focus ~ label{
    font-weight: 600;
    padding: 0 2px;
    color: var(--colorVerde);
    background: white;
}
/* ncesitaba cambiarle algunas cosas solo en esta, Nahomy */
.casillaDatos{
    
    padding: 10PX;
    font-size: 18px;
    border-radius: 12PX;
    width: 70%; 
    outline: none;
    border: solid 2PX  #E87229;
    margin: 20px auto;
}
/* Nota para abraham 
Ojo, al de abajo le quite la funcionalidad porque en esta pantalla solo se muestra, 
el usuario por ahora no modifica, Nahomy

es decir, donde dice para escribir el nombre, apellido, etc 
estaran los datos del perfil ya llenos porque solo esta consultando*/
.textFieldHolder .soloMostrar{
    position: absolute;
    top: 18%;
    left: 10px;
    color:var(--colorNaranja);
    font-size: 17px;
    font-weight: 600;
    pointer-events: none;
}
.soloMostrar{
    font-weight: 600;
    padding: 0 2px;
    color: #E87229;
    background: white;
}

/* Crear publicacion */

.nuevaMascota{
    max-width: 800px;
    max-height: 1200px;
    margin: 0 auto;
    
}

.contenidoNuevaMascota{
    margin: 0 auto;
    padding: 15px;
    max-width: 800px;
    height:1200;
}

.textFieldHolder2{
    position: relative;
}

.textFieldHolder2 label {
    position: absolute;
    top: 18%;
    left: 20px;
    transform:translateY(-50%);
    color:transparent;
    font-size: 17px;
    font-weight: 600;
    pointer-events: none;
    transition:.3s ;
}

#equis{
    width: 50px;
    float: right;
    cursor: pointer;
    margin: 10px;
    filter: brightness(0) saturate(100%) invert(38%) sepia(6%) saturate(0%) hue-rotate(168deg) brightness(87%) contrast(79%);
}

#equis:hover{
    filter: brightness(0) saturate(100%) invert(70%) sepia(94%) saturate(4211%) hue-rotate(346deg) brightness(97%) contrast(87%);
}
.datosMascotaIzquierda{
    flex: 1;
    float: left;
    max-width: 400px;
    height: 360px;
    margin: 20px auto;
    padding: 10px;
}
.datosMascotaDerecha{
    flex: 1;
    float: left;
    max-width: 400px;
    height: 360px;
    margin: 5px auto;
    padding: 10px;
}

#indiqueNombreMascota,#ubicacionNuevaMascota{
    padding: 10PX;
    font-size: 18px;
    min-width: 303px;
    max-width: 300px;
    border-radius: 12PX;
    outline: none;
    border: solid 3PX  #74C69D;
    margin: 20px auto;
    color: #2c313b;
    
}

#input-with-icon {
    position: relative;
  }
  
  #input-with-icon .fa-map-marker-alt {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none; /* Oculta el icono por defecto */
  }

.descripcionNuevaMascota{
    width: 90%;
    padding: 10px;
}
.descripcionNuevaMascota textarea{
    border: solid 3px #74C69D;
    border-radius: 10px;
    font-size: 18px;  
    padding: 10px;  
    width: 95%;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #2c313b;
}

.tituloMascotanueva{
    margin: 10px;
    padding: 0;
}

.tituloMascotanueva h1{
    font-size: 25px;
    margin-left: 12px;
    font-weight: 600;
}
.tituloMascotanueva hr{
    border: 1px solid #74C69D;
}
#fotoMascotaNueva{
    border: #74C69D solid 3px;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    padding: 0px;
    border-radius: 30px;
}
#imagenPreview{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
#imagenPreview:hover{
    transition: 0.3s filter ease;
    filter: brightness(50%);
    border-radius: 30px;
}

#labelAgregarImagen {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    outline: none;   
    cursor: pointer;
    border-radius: 12px;
    cursor: pointer;
    border-radius: 30px;
}

#labelAgregarImagen:hover {
    transition: .2s background-color ease;
    background-color: #74c69d48;
    border-radius: 30px;

}
#imagesnMascotaNueva{
    display: none;
}

#agregarImagenMascotaNueva{
    display: none;
}

#fotoMascotaNueva input[type="file"] {
    color: transparent;
    border-radius: 30px;
    
}
.inputlargos{
    min-width: 330px;
    max-width: 331px;
    margin-top: 15px;
    border-radius: 12PX;
    outline: none;
    border: solid 3px  #74C69D;
    padding: 10PX;
    font-size: 17px;
    color: #6f6f70;
    font-size: 18px;
}
.inputcortos{
    
    min-width: 163px;
    max-width: 163px;
    border-radius: 12PX;
    outline: none;
    border: solid 3PX  #74C69D;
    padding: 10PX;
    font-size: 17px;
    color: #6f6f70;
    font-size: 18px;
}

.inputcortos, .inputlargos,.fotoMascotaNueva:hover{
    cursor: pointer;
}

.btnAñadirMascota{
    float: right;
    margin: 30px;
    padding: 15px;
    font-size: 18px;
    width: 200px;
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    border-radius: 12px;
    color: white;
}

.btnAñadirMascota:hover{
    transition: .1s box-shadow ease;
    background-color: #E87229;
    border: solid 2px #E87229;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;
}

/*Mapa Mascota Nueva Callejera*/
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .popup h2 {
    text-align: center;
    color: #cc5f1c;
  }
  
  #close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close-button:hover,
  #close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .containerMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-left: 20px; /* Agrega margen izquierdo */
    margin-right: 20px; /* Agrega margen derecho */
  
  }

  #map {
    height: 500px;
    width: 100%;
  }
  
  #search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  #boton{
    background-color: var(--colorNaranja);
    color: white;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }

/*Mapa Mascota Modificar Callejera*/


#input-with-icon-modificar {
    position: relative;
  }
  
  #input-with-icon-modificar .fa-map-marker-alt {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none; /* Oculta el icono por defecto */
  }


.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .popup h2 {
    text-align: center;
    color: #cc5f1c;
  }
  
  #close-button-modificar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close-button-modificar:hover,
  #close-button-modificar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .containerMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-left: 20px; /* Agrega margen izquierdo */
    margin-right: 20px; /* Agrega margen derecho */
  
  }

  #mapModificar {
    height: 500px;
    width: 100%;
  }
  
  #search-input-modificar {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  #botonModificarUbicacion{
    background-color: var(--colorNaranja);
    color: white;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }


/* aqui acaba */

.gestionarPerfil h1{
    font-size: 25px;
    text-align: center;
}

.fotoUsuario img{
    margin: 0;
    border: solid 2px rgba(25, 98, 107, 0.753);
    float: left;
    border-radius: 360px;
    width: 150px;
    margin-top: 30px;
    margin-left: 10px;
}

.informacionUsuario{
    float: right;
    font-size: 13px;
    text-align:justify;
    margin-right: 15px;
}

/* Agregado por nahomy de aqui hacia abajo */
.containerPrincipal{
	max-width: 120rem;
	margin: 0 auto;
}
.titulo{
	text-align: center;
	font-weight: 500;
	font-size: 1.5rem;
    list-style: none;
}

.catalogoMascotas{  
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
    margin-left: 3rem;
    padding-left: 1rem;
}
.container-tipoMascota{
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}
.container-mascotas{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
	gap: 2rem;
    justify-content: center; 
    margin: 2rem;
}
.botonNaranja{
    background-color: var(--colorVerde);
    color: white;
    width: 25%;
    min-width:5rem;
    height: 2.5rem;
    font-size: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

#mascotasPerdidas{
    display: none;
} 
#mascotasCallejeras{
    display: none;
}

.tarjetaMascota{
	background-color: #fff;
	padding: 1rem 1rem;
	border-radius: 1.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px var(--colorGris);
    text-align: center;
}

.desTarjeta{
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    max-height: 90px;
}

.tipoMascotaTarjeta{
    font-size: 1rem;
    color: var(--colorVerde);
    font-weight: bold;

}

.container-img{
	position: relative;
    margin-bottom: -1rem;
    width: 200px;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    margin-bottom: -3rem;
}
.container-img img{ 
	width: 100%;
    height: 100%;
    border: 1px solid var(--colorGris);
    border-radius: 1rem;
    object-fit: cover;
}
.botonNaranja2{
    margin: 0 auto;
    margin-top: 3rem;
    background-color: var(--colorNaranja);
    color: #fff;
    font-size: small;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 8rem;
}
.botonNaranja2:hover{
    background-color: #cc5f1c;
}

.container-img{
	border-radius: 1rem;
	cursor: pointer;
	position:relative;
	overflow:hidden;
}
.tarjetaMascota:hover .descripcion { /*solo es un efecto y esta sin uso*/
	background-color: #9be6f0aa;
}
.tarjetaMascota:hover{
	z-index: 0;
	right: -1rem;
}
.container-img .descripcion{
    font-size: 2rem;
}

.regionCentral{
  justify-content: space-around;

}
/* esto es la barra lateral de filtros, Nahomy */
#sidebar{ 
    position: absolute;
    z-index: 1;
    width: 20%;
    max-width: 200px;
    min-width: 130px;
    height:500px ;
    background-color: var(--colorCrema);
    border: 1px solid;
    border-radius: 1rem;
    border-color: var(--colorGris);
    margin: 10px;
    margin-left: 1rem;
    margin-right: 2rem;
}
ul{
    margin: 0;
    padding: 0;
    padding-top: 2rem;
}
.iconoFiltro{
    float: right; 
}

/* Cada item de los filtros, Nahomy */
.barraFiltro{
    color: var(--colorGris);
    text-align: center;
    border: 1px solid var(--colorGris);
    padding: 15px 10px;
    margin: 10px;
    width: 70%;
    list-style: none;
    border-radius: 0.5rem;
    background-color: #fff;
}
.catalogo{
    margin-left: 200px;

}

/* Consultar perfil */
.perfilSeccion{
    margin: 2rem;
    margin-top: 5rem;
    margin-left: 4rem;
}
.miPerfil{
    font-size:2rem;
    border-bottom: 1px solid var(--colorGris);
    margin-top: 2rem;
}
/* Modal comienzo */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 2rem;
    width: 30%;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.botonVerSolicitudes{
    width: 15rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0px;
    background-color: var(--colorNaranja);
    color: white;
    margin-left: 2rem;
}
.botonVerSolicitudes:hover{
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    background-color: #d46926;
    border: solid 2px #E87229;
    font-weight: 600;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;
}

/* #listaSolicitudesModal{

} */

.solicitud{
    border-bottom: 1px solid var(--colorGris);
}
#encabezadoModal{
    display: grid;
    grid-template-columns:0.25fr 0.75fr;
    gap: 2rem;
    align-items: center;
}
#imagenModal{
    width: 8rem;
    border-radius: 1rem;
}
#solicitudesModal{
    font-size: 30px;
    margin-top: 2rem;
    border-bottom: 1px solid var(--colorGris);
}
.textoModal{
    font-weight: 600;
    font-size: 15px;
}
.botonesModal{
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0px;
    background-color: var(--colorNaranja);
    color: white;
    margin: 1rem;
}
.botonesModal:hover{
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    background-color: #d46926;
    border: solid 2px #E87229;
    font-weight: 600;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;
}
.grupoBotonesModal{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
  /* Modal fin */
.datosMostrados{
/*     max-width: 100%;
    margin: 0 auto;
    margin-top: 0.7rem;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50%, 10%)); */

    max-width: 100%;
    margin: 0.7rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}


.textFieldHolder {
    flex-basis: calc(50% - 0.5rem);
    margin-bottom: 1rem;
  }


@media (max-width: 600px) {
     .datosMostrados{
        display: flex;
        flex-direction: column;
    } 
}

/* mis mascotas en adopcion */
.listaMascotas img{
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 3rem;
    margin: 1rem;
    object-fit: cover;
}
.listaAnuncios img{
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 3rem;
    margin: 1rem;
    object-fit: cover;
}
.miMascota{
    display: flex;
    border-bottom: 1px solid var(--colorGris);
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .miMascota {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
#solicitudConsultada{
    display: none;
}

/* mis solicitudes realizadas */
.miSolicitud img{
    width: 30%;
    min-width: 90px; /* Ancho mínimo */
    max-width: 80px;
    border-radius: 2rem;
    margin: 1rem;
}
.miSolicitudTotal{
    border-bottom: 1px solid var(--colorGris);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    .miSolicitudTotal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btnMostrarSolicitudRealizada{
        margin: 1.5rem 0;
    }
}

.btnMostrarSolicitudRealizada{
    background-color: var(--colorNaranja);
    color: #fff;
    font-size: small;
    width: 20%;
    min-width: 100px;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btnMostrarSolicitudRealizada:hover{
    background-color: #cc5f1c;
}
/*** Solicitud de adopcion ***/

.heading{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 6%;
}

#title{
    font-size:1.8em;
    color: var(--colorNaranja);
    margin-top: 2%;
}

#subheading{
    font-size: 1em;
    margin-top: 2%;
}

form {
    background-color: var(--colorCrema);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    padding: 3%;
    border: 2px solid var(--colorNaranja);
}

.invalid {
    border: 1px solid red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }


  #formulario .box {
    width: 80%;
    height: 2.7em;
    border: 0;
    position: relative;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 80%;
    box-sizing: border-box;
}

    #formulario textarea {
    resize: none;
}

    .grupoOpciones3{
        display: inline-block;
    }

    #selectTipoVivienda {
        width: 80%;
        height: 2.7em;
        position: relative;
        bottom: 10px;
        border-radius: 5%;
        border: 0;
        box-sizing: border-box;
}   

    .contenido{
        text-align: justify;
        padding: 0;
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        width: 85%;
    } 

    .casilla {
        padding-right: 20px; /* Espacio para la viñeta */
      }
      
      .casilla:required:valid {
        background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" fill="%2334A853"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 16px 16px;
      }
      
      .casilla:required:invalid {
        background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="%23CF3030"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 16px 16px;
      }

      .required-label::after {
        content: "*";
        color: red;
        margin-left: 5px;
        font-size: 1.2em;
      }

    .finalSolicitud{
        align-items: center;
        justify-content: center;
        width: 50%;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 2%;
        padding: 3%;
        padding-top:0;
        padding-bottom:0;
    }

    .condiciones{
        padding:5%;
    }

    .botonesSolicitud{
        height: 4em;
        top:11px;
        border: none;
        display: flex;
        justify-content: space-around;
    }

    .botonesSolicitud button{
        width: 15%;
        height: 3em;
        position: relative;
        top: 11px;
        background-color: var(--colorNaranja);
        border: solid var(--colorNaranja);
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

    }


/*Pantalla Consultar Mascota*/
.conteiner-consulta{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    overflow: hidden;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 2rem;
}

.images{
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
}

.images img{
	width: 100%;
    height: 100%;
    border: 1px solid var(--colorGris);
    border-radius: 2rem;
    object-fit: cover;
}


.conteiner-consulta .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: 2px solid white;
    background: rgba(255,255,255,0.1);
    cursor: pointer;
}

.conteiner-consulta .slide:hover{
    background: rgba(255,255,255,0.2);
}

.slide i{
    font-size: 35px;
    color: white;
    line-height: 41px;
}

.conteiner-consulta .left{
    left:0;
}
 .conteiner-consulta .right{
    right: 0;
} 

/*Consultar Mascota*/
.conteiner-padre{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.conteiner-informacion {
    background-color: #fff;
    padding: 1rem 1rem;
    padding-bottom: 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px var(--colorGris);
    margin-top: 6rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    width: 30%;
    max-width: 800px;
    height: 50%;
}

.conteiner-informacion .nombre.titulo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}


  .conteiner-informacion .columnas {
    display: flex;
    flex-wrap: wrap;
  }
  
  .conteiner-informacion .columna-1 {
    flex: 1 1 50%;
    break-inside: avoid; /* Evita que se divida entre columnas */
  }
  
  .conteiner-informacion .columna-2 {
    flex: 1 1 50%;
  }
  

.conteiner-informacion h3 {
    color: var(--colorVerde);
    font-size: 2rem;
}

.conteiner-informacion .tipo {
    font-size: 0.95rem;
}

.conteiner-informacion .titulo {
    font-size: 2.5rem;
}

.conteiner-solicitar{
    background-color: #74C69D;
    padding: 2rem 3rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px var(--colorGris);
    margin-top: 6rem;
    margin-left: 1rem; 
}

.container-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.container-options p {
    background-color: var(--colorNaranja);
    color: white;
    height: 0.6rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 10%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.container-mapa-consulta{
    background-color: #74C69D;
    padding: 2rem 3rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px var(--colorGris);
    margin-top: 6rem;
    margin-left: 1rem; 
    height: 500px;
    width: 600px;
}

#map-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-left: 20px; /* Agrega margen izquierdo */
    margin-right: 20px; /* Agrega margen derecho */
}

#consultarEscondido{
    margin-top: 5rem;
}
#consultarEscondido{
    display: none;
}
#solicitudEscondida{
    display: none;
}

.botonRegresar::before {
    content: "\f060"; 
    font-family: "Font Awesome 5 Free"; 
    font-weight: 1000; 
  }

.botonRegresar {
    position: relative;
    background-color: var(--colorVerde);
    cursor: pointer;
    display: inline-block; 
    margin: 1rem;
    margin-top: 2rem;
    border-radius: 50%; 
    padding: 0.75rem; 
    margin-right: 1rem; 
  }

  /*Consultar Solicitud*/
.container-consultar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
}

.informacionMascota {
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px var(--colorGris);
    text-align: left;
    width: 60%;
    margin: 0 auto;
    border: 2px solid var(--colorVerde);
    display: flex;
    align-items: center;
}

.informacionMascota-img {
    margin-right: 1rem;
}

.informacionMascota img {
    width: 150px;
    border: 1px solid var(--colorGris);
    border-radius: 1rem;
}

#nombreMascota {
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
    color: var(--colorVerde);
}

.container-texto {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
}

.container-texto h6 {
    margin-bottom: 0;
    font-size: 1rem;
}

.container-texto p {
    margin-top: 0;
    margin-bottom: 2%;
}

.container-izquierda{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}


.respuestasSolicitud {
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px var(--colorGris);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 90%;
    border: 2px solid var(--colorNaranja);
}

.respuestasSolicitud h6{
    font-size: rem;
}

.respuestasSolicitud p{
    font-size: 0.6rem;
}

.container-headerConsultar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#tituloConsultarSolicitud {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    color: var(--colorNaranja);
    flex-grow: 1;
}

#tituloRespuestas {
    font-size: 2rem;
}
/*********************Nuevo Modificar Perfil Abraham********************************/
#botonesGuardarCancelar{
    width: 350px;
    display: none;
}
#botonGuardarCambiosPerfil { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    float: left;
    padding: 5px;
    font-size: 15px;
    width: 150px;
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    border-radius: 15px;
    color: white;
}
#botonCancelarCambiosPerfil  { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    float: right;
    padding: 5px;
    font-size: 15px;
    width: 150px;
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    border-radius: 15px;
    color: white;
}


#botonGuardarCambiosPerfil:hover { 
    transition: .3s box-shadow   ease;
    transition: .1s font-weight   ease;
    background-color: #E87229;
    border: solid 2px #E87229;
    font-weight: 600;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;
}

#botonCancelarCambiosPerfil:hover { 
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    background-color: #E87229;
    border: solid 2px #E87229;
    font-weight: 600;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;
}


.iconosBotonesModificar{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(101%);
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

#botonEditarCambiosPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    float: right;
    padding: 5px;
    font-size: 15px;
    width: 150px;
    margin-top: 10px;
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    border-radius: 15px;
    color: white;
}

#botonEditarCambiosPerfil:hover{
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    background-color: #E87229;
    border: solid 2px #E87229;
    font-weight: 600;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;
}
#botonEliminarPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    float: right;
    padding: 5px;
    font-size: 15px;
    width: 180px;
    margin-top: 10px;
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    border-radius: 15px;
    color: white;
}

#botonEliminarPerfil:hover{
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    background-color: #E87229;
    border: solid 2px #E87229;
    font-weight: 600;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;

}


#nuevaFechaPerfil{
    display: none;
    padding: 10PX;
    font-size: 18px;
    width: 70%;
    border-radius: 12PX;
    outline: none;
    border: solid 2PX  #E87229;
    color: #666666;
    margin-top: 0px;
}

#textoFechaNacimiento{
    display: none;
    color: #E87229;
    font-size: 15px; margin: 0;
}

/*********************Nuevo Eliminar Perfil Abraham********************************/
.eliminarPerfil{
    margin: 65px;
    width: auto;
    max-width: 600px;
    padding: 20px;
    border: #74C69D solid 3px;
    border-radius: 30px;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
}
.datosEliminarCuenta{
    min-width: 500px;
    display: grid;
    width: auto;
}
#botonAceptarEliminarPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    float: right;
    padding: 5px;
    font-size: 15px;
    width: 160px;
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    border-radius: 15px;
    color: white;
}
#botonConfirmarEliminarPerfil{
    margin-right: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    float: right;
    padding: 5px;
    font-size: 15px;
    width: 160px;
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    border-radius: 15px;
    color: white;
}
#mensajeConfirmarEliminarPerfil{
    color: #E87229;
    
}

#botonAceptarEliminarPerfil:hover{
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    background-color: #E87229;
    border: solid 2px #E87229;
    font-weight: 600;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;

}
#botonConfirmarEliminarPerfil:hover{
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    background-color: #E87229;
    border: solid 2px #E87229;
    font-weight: 600;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;

}

#botonVolver{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 30px;
    height: 30px;
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    background-color: #ffffff;
    border: solid 2px #ffffff;
    
}
#botonVolver:hover{
    background-color: #E87229;
    border: solid 2px #E87229;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}
#iconoBotonVolver{
    width: 30px;
    height: 30px;
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}

#iconoBotonVolver:hover{
    width: 30px;
    height: 30px;
    transition: .3s box-shadow  ease;
    transition: .1s font-weight   ease;
    border-radius: 30px;
    font-weight: 600;
    filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(0%) hue-rotate(44deg) brightness(103%) contrast(103%);
    cursor: pointer;
}

/***************************************************************************************/

/**********************Personalizacion Eliminar Mascota*********************************/

.hover-style {
    transition: .3s box-shadow  ease;
    cursor: pointer;
    background-color: #E87229;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    
}

.imagenEliminarMascota{
    filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(0%) hue-rotate(44deg) brightness(103%) contrast(103%);
}

.contenidoBoton{
    color:white;
}

/***************************************************************************************/

/**********************Personalizacion Modificar Mascota*********************************/
.modificarMascota{
    display: none;
    border-radius:10px;
    border: solid #74C69D 5px;
    margin: 50px;
    height:900px;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
}
.modificarMascotaExistente{
    max-width: 800px;
    max-height: 1000px;
    margin: 0 auto;
}
.contenidoModificarMascota{
    margin: 0 auto;
    padding: 15px;
    max-width: 800px;
    max-height: 1000px;
}

.datosModificarMascotaIzquierda{
    flex: 1;
    float: left;
    max-width: 400px;
    height: 360px;
    margin: 20px auto;
    padding: 10px;
}
.datosMascotaModificarDerecha{
    background-color: black;
    flex: 1;
    float: left;
    max-width: 400px;
    height: 360px;
    margin: 5px auto;
    padding: 10px;
}

#indiqueModificarNombreMascota,#ubicacionModificarMascota{
    padding: 10PX;
    font-size: 18px;
    min-width: 303px;
    max-width: 300px;
    border-radius: 12PX;
    outline: none;
    border: solid 3PX  #74C69D;
    margin: 20px auto;
    color: #2c313b;
    
}

.descripcionModificarMascota{
    width: 90%;
    padding: 10px;
}
.descripcionModificarMascota textarea{
    border: solid 3px #74C69D;
    border-radius: 10px;
    font-size: 18px;  
    padding: 10px;  
    width: 95%;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #2c313b;
}

.tituloModificarMascota{
    margin: 10px;
    padding: 0;
}

.tituloModificarMascota h1{
    font-size: 25px;
    margin-left: 12px;
    font-weight: 600;
}
.tituloModificarMascota hr{
    border: 1px solid #74C69D;
}


#fotoMascotaNueva input[type="file"] {
    color: transparent;
    
}
.inputlargos{
    min-width: 330px;
    max-width: 331px;
    margin-top: 15px;
    border-radius: 12PX;
    outline: none;
    border: solid 3px  #74C69D;
    padding: 10PX;
    font-size: 17px;
    color: #6f6f70;
    font-size: 18px;
}
.inputcortos{
    
    min-width: 163px;
    max-width: 163px;
    border-radius: 12PX;
    outline: none;
    border: solid 3PX  #74C69D;
    padding: 10PX;
    font-size: 17px;
    color: #6f6f70;
    font-size: 18px;
}

.inputcortos, .inputlargos,.fotoMascotaNueva:hover{
    cursor: pointer;
}

.botonModificarMascota{
    float: right;
    margin: 30px;
    padding: 15px;
    font-size: 18px;
    width: 200px;
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    border-radius: 12px;
    color: white;
}

.botonModificarMascota:hover{
    transition: .1s box-shadow ease;
    background-color: #E87229;
    border: solid 2px #E87229;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
    cursor: pointer;
}


#fotoModificarMascota{
    border: #74C69D solid 3px;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    padding: 0px;
    border-radius: 30px;
}
#imagenPreviewModificar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
#imagenPreviewModificar:hover{
    transition: 0.3s filter ease;
    filter: brightness(50%);
    border-radius: 30px;
}
#labelCambiarImagen {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    outline: none;   
    cursor: pointer;
    border-radius: 12px;
    cursor: pointer;
    border-radius: 30px;
}

#labelCambiarImagen:hover {
    transition: .2s background-color ease;
    background-color: #74c69d48;
    border-radius: 30px;

}
#imagesnMascotaNueva{
    display: none;
}

#modificarImagenMascotaNueva{
    display: none;
}

#fotoModificarMascota input[type="file"] {
    color: transparent;
    border-radius: 30px;
    
}


/***************************************************************************************/

/**********************Personalizacion Modificar Mascota*********************************/
.modificarSolicitud{
    display: none;
    border-radius:10px;
    border: solid #74C69D 5px;
    margin: 50px;
    height:100%;
    box-shadow: 0/*Cuanto de desplaza a la derecha*/ 0.2rem /*Desplaza abajo*/ 0.4rem /*Difuminacion*/ rgb(19, 88, 97);
}

#title-modificar{
    font-size:1.8em;
    color: var(--colorNaranja);
    margin-top: 2%;
}

#subheading-modificar{
    font-size: 1em;
    margin-top: 2%;
}

.heading-modificar{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 6%;
}

#formulario-modificar .box {
    width: 80%;
    height: 2.7em;
    border: 0;
    position: relative;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 80%;
    box-sizing: border-box;
}

    #formulario-modificar textarea {
    resize: none;
}

    #selectTipoViviendaModificada {
        width: 80%;
        height: 2.7em;
        position: relative;
        bottom: 10px;
        border-radius: 5%;
        border: 0;
        box-sizing: border-box;
}   

    .finalSolicitud-modificar{
        align-items: center;
        justify-content: center;
        width: 50%;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 2%;
        padding: 3%;
        padding-top:0;
        padding-bottom:0;
    }

    .condiciones{
        padding:5%;
    }

    .botonesSolicitud-modificar{
        height: 4em;
        top:11px;
        border: none;
        display: flex;
        justify-content: space-around;
    }

    .botonesSolicitud-modificar button{
        width: 15%;
        height: 3em;
        position: relative;
        top: 11px;
        background-color: var(--colorNaranja);
        border: solid var(--colorNaranja);
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

    } 


/***************************************************************************************/

/**********************Personalizacion Eliminar Solicitud*********************************/
.imagenEliminarSolicitud{
    filter: brightness(0) saturate(100%) invert(97%) sepia(97%) saturate(0%) hue-rotate(44deg) brightness(103%) contrast(103%);
}





/*Bandeja inferior*/
footer{
    background-color: var(--colorVerde);
    padding: 4rem;
    margin-top: 10%;
    color: white;
}

footer section{
    float: right;
    
}

footer p{
    margin: 0;
}

footer a{
    color: var(--colorGris);
    text-decoration: none;
}

#irComienzo{
    margin-right: 20px;
}

footer a:hover{
    transition: color 0.5s ease;
    color: cornflowerblue;
}